<% include('../layouts/header') %>
<button id="back-button">Voltar</button>
<main>
  <h1>Carrinho de Compras</h1>
  <ul>
    <% if (carrinho && carrinho.length > 0) { 
        let total = 0;  // Inicializa o total como zero
    %>
      <% carrinho.forEach(produto => { 
          total += produto.preco * produto.quantidade; // Calcula o total
      %>
        <li>
          <h3><%= produto.nome %></h3>
          <p>
            Preço: R$ 
            <%= 
              produto.preco && !isNaN(parseFloat(produto.preco)) 
              ? parseFloat(produto.preco).toFixed(2).replace('.', ',') 
              : 'Preço Indisponível' 
            %>
          </p>          
          <p>Quantidade:</p>
          <div>
            <!-- Botão de decremento -->
            <button class="decrement" data-produto-id="<%= produto.id %>">-</button>
            <input 
              type="number" 
              name="quantidade" 
              value="<%= produto.quantidade %>" 
              min="1" 
              readonly 
              id="quantidade-<%= produto.id %>"
            >
            <button class="increment" data-produto-id="<%= produto.id %>">+</button>            
          </div>
          <a href="/carrinho/remover/<%= produto.id %>">Remover</a>
        </li>
      <% }) %>

      <!-- Exibe o total do carrinho -->
      <p id="total-carrinho"><strong>Total do Carrinho: R$ <%= total.toFixed(2).replace('.', ',') %></strong></p>

      <!-- Botão para continuar a compra -->
      <form action="/carrinho/finalizar-compra" method="GET">
        <button type="submit">Continuar</button>
      </form> 
    <% } else { %>
      <p>Seu carrinho está vazio.</p>
    <% } %>
  </ul>
  <a href="/produtos/listar">Continuar Comprando</a>
</main>
<% include('../layouts/footer') %>
<script type="module" src="/js/main.js"></script>