<% include('../layouts/header') %>
<main>
  <h1>Carrinho de Compras</h1>
  <ul>
    <% if (carrinho && carrinho.length > 0) { %>
      <% carrinho.forEach(produto => { %>
        <li>
          <h3><%= produto.nome %></h3>
          <p>
            Preço: R$ 
            <%= 
              produto.preco && !isNaN(parseFloat(produto.preco)) 
              ? parseFloat(produto.preco).toFixed(2).replace('.', ',') 
              : 'Preço Indisponível' 
            %>
          </p>          
          <p>Quantidade: <%= produto.quantidade %></p>
          <form action="/carrinho/atualizar/<%= produto.id %>" method="post">
            <input type="number" name="quantidade" value="<%= produto.quantidade %>" min="1">
            <button type="submit">Atualizar</button>
          </form>
          <a href="/carrinho/remover/<%= produto.id %>">Remover</a>
        </li>
      <% }) %>
    <% } else { %>
      <p>Seu carrinho está vazio.</p>
    <% } %>
  </ul>
  <a href="/produtos/listar">Continuar Comprando</a>
</main>
<% include('../layouts/footer') %>
