<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Produtos</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
  <!-- Incluindo o cabeçalho -->
  <%- include('../layouts/header') %>

  <main>
    <h1>Lista de Produtos</h1>
    <ul>
      <% produtos.forEach(produto => { %>
        <li>
          <!-- Link para a página de detalhes do produto -->
          <a href="/produtos/produto/<%= produto.id %>">
            <%= produto.nome %> - <%= produto.descricao %> - 
            R$ <%= typeof produto.preco === 'number' && !isNaN(produto.preco) ? produto.preco.toFixed(2).replace('.', ',') : 'Preço Indisponível' %>
          </a>
          <div>
            <!-- Verificação de estoque disponível -->
            <% if (produto.estoque > 0) { %>
              Estoque disponível: 
              <% if (produto.estoque > 10) { %>
                10+ produtos
              <% } else { %>
                <%= produto.estoque %> 
                <%= produto.estoque === 1 ? 'disponível' : 'disponíveis' %>
              <% } %>
            <% } else { %>
              Produto indisponível
            <% } %>
          </div>
          <% if (session.usuario && session.usuario.tipoUsuario === 'admin') { %>
            <!-- Links de edição e exclusão para o administrador -->
            <a href="/produtos/editar/<%= produto.id %>" class="button">Editar</a>
            <a href="/produtos/excluir/<%= produto.id %>" class="button">Excluir</a>
          <% } %>
        </li>
      <% }) %>
    </ul>
  </main>

  <!-- Incluindo o rodapé -->
  <%- include('../layouts/footer') %>
  <script type="module" src="/assets/js/main.js"></script>
</body>
</html>
