<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Produtos</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
  <!-- Incluindo o cabeçalho -->
  <%- include('../layouts/header') %>
  <main class="listar-body">
    <h1>Lista de Produtos</h1>
    <!-- Adicionando uma classe específica para a lista de produtos -->
    <ul class="product-list">
      <% produtos.forEach(produto => { %>
        <li>
          <a href="/produtos/produto/<%= produto.id %>">
            <!-- Conteúdo do link -->
            <span class="product-name"><%= produto.nome %></span>
            <span class="product-description">
              <%= produto.descricao.length > 95 ? produto.descricao.substring(0, 95) + '...' : produto.descricao %>
            </span>
            <div class="preco-desc-estoque">
              <div class="preco">
                R$ <%= typeof produto.preco === 'number' && !isNaN(produto.preco) ? produto.preco.toFixed(2).replace('.', ',') : 'Preço Indisponível' %>
              </div>
              <div class="desc-estoque">
                <!-- Verificação de estoque disponível -->
                <% if (produto.estoque > 0) { %>
                  Estoque disponível: 
                  <% if (produto.estoque > 10) { %>
                    10+ produtos
                  <% } else { %>
                    <%= produto.estoque %> 
                    <%= produto.estoque === 1 ? 'disponível' : 'disponíveis' %>
                  <% } %>
                <% } else { %>
                  Produto indisponível
                <% } %>
              </div>
            </div>
            <% if (session.usuario && session.usuario.tipoUsuario === 'admin') { %>
              <!-- Links de edição e exclusão para o administrador -->
              <a href="/produtos/editar/<%= produto.id %>" class="button">Editar</a>
              <a href="/produtos/excluir/<%= produto.id %>" class="button">Excluir</a>
            <% } %>
          </a>
        </li>
      <% }) %>
    </ul>
  </main>

  <!-- Incluindo o rodapé -->
  <%- include('../layouts/footer') %>
  <script type="module" src="/assets/js/main.js"></script>
</body>
</html>
